<%- include('../partials/adminHeader') %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Categories </h2>

            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">

                        <form action="/admin/addCategory" method="post" onsubmit="return validateForm()" id="catForm">
                            <span id="catError" class="text-danger"></span>

                            <div class="mb-4">
                                <label for="product_name" class="form-label">Name</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_name"
                                    name="catName" />
                            </div>

                            <!-- <div class="mb-4">
                                    <label for="product_slug" class="form-label">Slug</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_slug" />
                                </div> -->
                            <!-- <div class="mb-4">
                                    <label class="form-label">Parent</label>
                                    <select class="form-select">
                                        <option>Clothes</option>
                                        <option>T-Shirts</option>
                                    </select>
                                </div> -->
                            <div class="mb-4">

                                <label class="form-label">Description</label>

                                <input type="text" placeholder="type here" class="form-control" name="catDescription"
                                    id="textField">
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary" type="submit">Create category</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table " id="categoryTable">
                                <thead>
                                    <tr>

                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <!-- <th>Slug</th>
                                            <th>Order</th> -->
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% category.forEach((category,index)=> { %>

                                        <tr>
                                            <td>
                                                <%= index+1 %>
                                            </td>
                                            <td><b>
                                                    <%= category.name %>
                                                </b></td>
                                            <td class="fs-6">
                                                <%= category.description %>
                                            </td>
                                            <td width="20%">

                                                <!-- <a href="/admin/deleteCategory/<%= category.id %>"> -->
                                                <button id=" delete-category" class="btn btn-sm rounded btn-danger"
                                                    onclick="deleteProduct('<%=category._id%>')">Delete</button>
                                                <!-- </a> -->

                                            </td>
                                            <!-- <td>/men</td>
                                            <td>1</td> -->
                                            <!-- <td class="text-end">
                                                <div class="dropdown">
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">View detail</a>
                                                        <a class="dropdown-item" href="#">Edit info</a>
                                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                                    </div>
                                                </div> <!-- dropdown //end -->
                                            <!-- </td>  -->
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- .col// -->
                </div> <!-- .row // -->
            </div> <!-- card body .// -->
        </div> <!-- card .// -->
    </section> <!-- content-main end// -->

    <script>
        //form validation
        function validateForm() {
            const nameValue = document.getElementById('product_name').value
            const descValue = document.getElementById('textField').value
            const error = document.getElementById('catError')

            if (nameValue.trim() == "" || descValue.trim() == "") {
                error.innerHTML = 'please fill the details'
                return false
            } else {
                document.getElementById('catForm').submit()
            }

        }

        //sweetAlert
        function deleteProduct(userId) {
            swal('are you sure you want to delete the category', {
                title: "Are you sure?",
                text: 'you are about to delete this',
                icon: 'warning',
                buttons: ["Cancel", "Delete"]
            }).then((confirmed) => {
                if (confirmed) {
                    $.ajax({
                        url: '/admin/deleteCategory/' + userId,
                        type: 'get'
                    }).done(res => {
                        swal('successsfull', `done`, 'success').then(() => {
                            location.reload();
                        })
                    }).fail((err) => {
                        swal('error', `done`, 'error').then(() => {
                            location.reload()
                        })
                    })
                } else {
                    swal('Canceleld', 'the category is not deleted', 'info')
                }
            })
                .catch((error) => {
                    swal('Error', `An error occured:${error}`, 'error')
                })
        }
    </script>
    <%- include('../partials/adminFooter') %>