<%- include('../partials/adminHeader') %>
    <section class="content-main">
        <% if (message.length>0) { %>
            <div class="alert alert-danger text-center" id="flashMessage">
                <i class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i>
                <%=message %>
            </div>
            <% } %>
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Categories </h2>
                    </div>
                    <div>

                        <a href="/admin/addProduct" class="btn btn-primary btn-sm rounded" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Create new</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <!-- category displaying in tables -->
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table " id="categoryTable">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <!-- <th>Slug</th>
                                            <th>Order</th> -->
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% category.forEach((category,index)=> { %>

                                                <tr>
                                                    <td>
                                                        <%= index+1 %>
                                                    </td>
                                                    <td><b>
                                                            <%= category.name %>
                                                        </b></td>
                                                    <td class="fs-6">
                                                        <%= category.description %>
                                                    </td>
                                                    <td width="20%">

                                                        <button class="btn btn-sm rounded btn-danger"
                                                            onclick="deleteCategory('<%= category._id %>')">Delete</button>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- .col// -->
                        </div> <!-- .row // -->
                    </div> <!-- card body .// -->
                </div> <!-- card .// -->
    </section>
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <% var category %><!--all category-->

                        <form action="/admin/addCategory" method="post" onsubmit="return validateForm()" id="catForm">
                            <span id="catError" class="text-danger"></span>
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Name</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_name"
                                    name="catName" />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Description</label>
                                <input type="text" placeholder="type here" class="form-control" name="catDescription"
                                    id="textField">
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary" type="submit">Create
                                    category</button>
                            </div>
                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <!-- content-main end// -->

    <script>
        // form validation
        function validateForm() {
            const nameValue = document.getElementById('product_name').value
            const descValue = document.getElementById('textField').value
            const error = document.getElementById('catError')

            if (nameValue.trim() == "" || descValue.trim() == "") {
                error.innerHTML = 'please fill the details'
                return false
            } else {
                createCategory(() => {
                    document.getElementById('catForm').submit()
                })
            }

        }

        // sweetAlert for deleting category
        function deleteCategory(catId) {
            console.log(catId);
            Swal.fire({
                title: "Are you sure?",
                text: "You are about to delete this category",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Delete",
                cancelButtonText: "Cancel",
            }).then((confirmed) => {
                if (confirmed.dismiss === "cancel") {
                    Swal.fire({
                        title: "Cancelled",
                        text: "The action cancelled",
                        icon: "info"
                    });
                } else {
                    $.ajax({
                        url: '/admin/deleteCategory/' + catId,
                        type: 'get'
                    }).done(res => {
                        if (res.status) {
                            Swal.fire({
                                title: "Success",
                                text: res.message,
                                icon: "success"
                            }).then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire({
                                title: "Cancelled",
                                text: "The category is not deleted because this category is being used",
                                icon: "info"
                            });
                        }
                    });
                }
            });
        }


        setTimeout(function () {
            document.getElementById('flashMessage').style.display = 'none';
        }, 3000)






    </script>
    <%- include('../partials/adminFooter') %>