<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin/assets/css/main.css" rel="stylesheet" type="text/css" />
    <!-- sweetalert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/admin/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<%- include('../partials/adminHeader') %>
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Edit Product</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">
                        <!-- form starts -->
                        <form action="/admin/editProduct/<%= product._id %>" method="post" enctype="multipart/form-data"
                            id="prodForm">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product title</label>
                                <span id="nameError" class="text-danger"></span>
                                <input type="text" value="<%= product.prodName %>" class="form-control" id="nameValue"
                                    name="prodName">
                            </div>

                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <span id="descError" class="text-danger"></span>
                                <input class="form-control" rows="4" name="prodDescription" id="descValue"
                                    value="<%= product.prodDescription %>">
                            </div>

                            <div class="row">

                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Brand</label>
                                        <span id="brandError" class="text-danger"></span>
                                        <div class="row gx-2">
                                            <input type="text" class="form-control" name="allValue" id="brandValue"
                                                value="<%= product.prodBrand %>">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">price</label>
                                        <span id="priceError" class="text-danger"></span>
                                        <input type="text" class="form-control" value="<%= product.prodPrice %>"
                                            name="prodPrice" id="priceValue">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Quantity</label>
                                        <span id="qtyError" class="text-danger"></span>
                                        <div class="row gx-2">
                                            <input type="text" class="form-control" value="<%= product.prodQuantity %>"
                                                name="prodQty" id="qtyValue">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Color</label>
                                        <span id="colorError" class="text-danger"></span>
                                        <input value="<%= product.prodColor %>" type="text" class="form-control"
                                            name="prodColor" id="colorValue">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-label">Size</label>
                                    <span class="text-danger"></span>

                                    <input type="text" value="<%= product.prodSize %>" name="prodSize"
                                        class="form-control">

                                    <input type="text" name="" value="<%= product._id %>" id="productId" hidden>
                                </div>
                            </div>

                            <div>
                                <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                                <button class="btn btn-md rounded font-sm hover-up" type="submit">Create</button>
                            </div>


                    </div>
                </div> <!-- card end// -->

            </div>
            <!-- image  -->
            <div class="col-lg-3">
                <div class="card mb-4">

                    <div class="card-header">
                        <!-- main image -->
                        <img src="/<%=product.prodImage[0]%>" alt="no image" srcset="" id="imgView" width="100%"
                            height="300px">

                        <button class="btn btn-outline-primary m-2" id="deleteBtn" type="button" style="position: absolute;
                            top: 68%;
                            background-color: white;
                            right: 4%;">
                            <i class="fa-regular fa-trash-can" style="color: #ff0000;"></i>
                        </button>

                    </div>

                    <div class="card-body">

                        <div class="input-upload">
                            <!-- <img src="assets/imgs/theme/upload.svg" alt=""> -->

                            <span id="imgError" class="text-danger"></span>
                            <input class="form-control" type="file" accept=".jpg, .png, .jpeg" multiple
                                onchange="viewImage(event)" name="images">

                        </div>

                    </div>
                </div> <!-- card end// -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Category</h4>
                    </div>
                    <div class="card-body">
                        <div class="row gx-2">
                            <div class="col-sm-6 mb-3">
                                <label class="form-label">Category</label>
                                <span id="catError" class="text-danger"></span>
                                <select class="form-select" name="prodCategory" id="catValue">

                                    <% category.forEach(category=> { %>

                                        <option value="<%= category.id %>" id="catValue">
                                            <%= category.name %>
                                        </option>

                                        <% }); %>


                                </select>
                            </div>
                            <!-- <div class="col-sm-6 mb-3">
                                <label class="form-label">Sub-category</label>
                                <select class="form-select">
                                    <option> Nissan </option>
                                    <option> Honda </option>
                                    <option> Mercedes </option>
                                    <option> Chevrolet </option>
                                </select>
                            </div> -->
                        </div> <!-- row.// -->
                    </div>
                </div> <!-- card end// -->
            </div>

            <div class="col-lg-3" id="image-container">
                <% product.prodImage.forEach((image, index)=> {%>

                    <div class="card-header">
                        <img src="/<%= image %>" alt="no image" srcset="" class="thumbnail-img" width="100px"
                            height="100px" style="padding: 10px;cursor: pointer;">
                    </div>

                    <% }) %>
            </div>
            </form>
        </div>
    </section>

    <script>
        function viewImage(event) {
            var imageContainer = document.getElementById('image-container')
            var deleteBtn = document.getElementById('deleteBtn')
            deleteBtn.style.display='none'
            imageContainer.innerHTML=''
            document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
            
        }
    </script>
    <script>

        $(document).ready(function () {
            $('#deleteBtn').click(function () {
                var src = $('#imgView').attr('src')
                var fileName = src.split('/').pop();
                var prodId = $("#productId").val()
                console.log(prodId)

                $.ajax({
                    url: '/admin/deleteImage',
                    method: 'post',
                    data: {
                        fileName: fileName,
                        prodId: prodId
                    },
                    success: function (response) {
                        Swal.fire({
                            title: "Are you sure you want delete this image?",
                            text: "Once you delete this image, it cannot be cancelled.",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonText: "Yes, delete image",
                            cancelButtonText: "No",
                        }).then((result) => {
                            if (result.value) {
                                if (response) {
                                    Swal.fire({
                                        title: "Successful",
                                        text: "Done",
                                        icon: "success"
                                    }).then(()=>{
                                        location.reload()
                                    })
                                }
                            }
                        });
                    }
                });
            })
        })

        $(document).ready(function () {
            $('.thumbnail-img').click(function () {
                var newImgSrc = $(this).attr('src');
                $('#imgView').attr('src', newImgSrc);
            });
        });
    </script>

    <%- include('../partials/adminFooter') %>