<%- include('../partials/adminHeader') %>

    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order detail</h2>
                <p>Details for Order ID:<span> <strong>
                            <%= addressDetails[0]._id %>
                        </strong><span>
                </p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <span>
                            <i class="material-icons md-calendar_today"></i> <b>
                                <%= addressDetails[0].orderDate.toLocaleDateString('en-GB')%>
                            </b>
                        </span> <br>
                        <small class="text-muted">
                            <%= %>
                        </small>
                    </div>
                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                        <select id="statusSelect" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                            <option>Change status</option>
                            <option <%=addressDetails[0].orderStatus==='Shipped' ? 'selected' : '' %>>Shipped</option>
                            <option <%=addressDetails[0].orderStatus==='Delivered' ? 'selected' : '' %>>Delivered
                            </option>
                            <option <%=addressDetails[0].orderStatus==='pending' ? 'selected' : '' %>>pending</option>
                        </select>
                        <button class="btn btn-primary" id="saveBtn"
                            onclick="changeStatus('<%= addressDetails[0]._id %>')">
                            Save</button>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    <%= addressDetails[0].orderAddress[0].firstName %>
                                        <%= addressDetails[0].orderAddress[0].lastName %> <br>
                                            <br>
                                            <%= addressDetails[0].orderAddress[0].mobile %>

                                </p>
                            </div>
                        </article>
                    </div> <!-- col// -->

                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    <%= addressDetails[0].orderAddress[0].address %> <br>
                                        <%=addressDetails[0].orderAddress[0].city %><br>
                                            <%= addressDetails[0].orderAddress[0].state %>
                                                <%= addressDetails[0].orderAddress[0].pincode %> <br>
                                </p>

                            </div>
                        </article>
                    </div> <!-- col// -->
                </div> <!-- row // -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%">Product</th>
                                        <th width="20%">Unit Price</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%" class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let i=0; i < itemDetails.length; i++) { %>
                                        <% for (let j=0; j < itemDetails[i].orderProducts.length; j++) { %>
                                            <tr>
                                                <td>
                                                    <a class="itemside" href="#">
                                                        <div class="left">
                                                            <img src="/<%= itemDetails[i].orderProducts[j].prodImage[0] %>"
                                                                width="40" height="40" class="img-xs" alt="Item">
                                                        </div>
                                                        <div class="info">
                                                            <%= itemDetails[i].orderProducts[j].prodName %>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td>Rs.<%= itemDetails[i].orderProducts[j].prodPrice.toLocaleString() %>
                                                </td>
                                                <td>
                                                    <%= itemDetails[i].orderedItems[j].quantity %>
                                                </td>
                                                <td class="text-end">Rs.<%= itemDetails[i].orderProducts[j].prodPrice *
                                                        itemDetails[i].orderedItems[j].quantity.toLocaleString() %>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <% } %>

                                                    <tr>
                                                        <td colspan="4">
                                                            <article class="float-end">
                                                                <dl class="dlist">
                                                                    <dt>Shipping cost:</dt>
                                                                    <dd>free shipping</dd>
                                                                </dl>
                                                                <dl class="dlist">
                                                                    <dt>Grand total:</dt>
                                                                    <dd> <b class="h5">Rs.<%= itemDetails[0].totalAmount
                                                                                %></b> </dd>
                                                                </dl>
                                                                <dl class="dlist">
                                                                    <dt class="text-muted">Status:</dt>
                                                                    <dd>
                                                                        <span
                                                                            class="badge rounded-pill alert-success text-success">Payment
                                                                            done</span>
                                                                    </dd>
                                                                </dl>
                                                            </article>
                                                        </td>
                                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- table-responsive// -->
                    </div> <!-- col// -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4">
                        <% if (itemDetails[0].paymentMethod==='COD' ) { %>
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>

                                <strong>Cash on DElivery</strong>

                            </div>
                            <% } else {%>
                                <div class="box shadow-sm bg-light">
                                    <h6 class="mb-15">Payment info</h6>
                                    <p>
                                        <img src="assets/imgs/card-brands/2.png" class="border" height="20"> Master Card
                                        ****
                                        **** 4768 <br>
                                        Business name: Grand Market LLC <br>
                                        Phone: +1 (800) 555-154-52
                                    </p>
                                </div>
                                <% } %>
                                    <div class="  h-25 pt-4">
                                        <div class="mb-3 box shadow-sm bg-light d-flex align-items-center">
                                            <h6 class="me-5">Order Status</h6>
                                            <% if (itemDetails[0].orderStatus=='pending' ) { %>
                                                <span class="badge rounded-pill bg-warning order-status fs-5 ">
                                                    <%= itemDetails[0].orderStatus %>
                                                </span>
                                                <% } else if (itemDetails[0].orderStatus=='placed' ) {%>
                                                    <span class="badge rounded-pill bg-primary order-status fs-5  ">
                                                        <%= itemDetails[0].orderStatus %>
                                                    </span>
                                                    <% } else if (itemDetails[0].orderStatus=='Shipped' ) {%>
                                                        <span class="badge rounded-pill bg-info order-status fs-5 ">
                                                            <%= itemDetails[0].orderStatus %>
                                                        </span>
                                                        <% } else if (itemDetails[0].orderStatus=='cancelled' ) { %>
                                                            <span
                                                                class="badge rounded-pill bg-danger order-status fs-5 ">
                                                                <%= itemDetails[0].orderStatus %>
                                                            </span>
                                                            <% } else if (itemDetails[0].orderStatus=='Delivered' ) {%>
                                                                <span
                                                                    class="badge rounded-pill bg-success order-status fs-5">
                                                                    <%= itemDetails[0].orderStatus %>
                                                                </span>
                                                                <% }else if(itemDetails[0].orderStatus=='return' ) {%>
                                                                    <span
                                                                        class="badge rounded-pill bg-warning order-status fs-5 ">
                                                                        <%= itemDetails[0].orderStatus %>
                                                                    </span>
                                                                    <% } %>
                                        </div>
                                        <% if (itemDetails[0].returnReason ) { %>
                                            <div class="p-2 align-items-center">
                                                Reason : <span class="rounded-pill bg-danger p-2 fs-6">
                                                    <%= itemDetails[0].returnReason %>
                                                </span>
                                            </div>
                                            <% } %>

                                    </div>
                                    <div class="h-25 pt-4 box shadow-sm bg-light d-flex align-items-center ">
                                        <% if (itemDetails[0].orderStatus==' pending' ||
                                            itemDetails[0].orderStatus=='Shipped' ||
                                            itemDetails[0].orderStatus=='placed' ) { %>

                                            <h6 class="me-5">Action :</h6>
                                            <button class="btn btn-danger"
                                                onclick="cancelOrder('<%= itemDetails[0]._id%>')">
                                                cancel Order</button>

                                            <% } %>
                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script>
        function changeStatus(orderId) {
            const saveButton = document.getElementById('saveBtn')
            saveButton.addEventListener('click', function (event) {
                event.preventDefault()
                const selectElement = document.querySelector('#statusSelect');
                const selectedValue = selectElement.value;
                $.ajax({
                    url: '/admin/changeStatus/' + orderId,
                    method: 'POST',
                    data: { selectedValue: selectedValue },
                    success: function (response) {
                        if (response) {
                            Swal.fire({
                                title: `status changed`,
                                buttons: ['OK']
                            }).then(() => {
                                location.reload()
                            });
                        }
                    },
                    error: function (error) {
                        // Handle any errors that occur during the request
                    }
                });
            })
        }
    </script>

    <script>
        function cancelOrder(orderId) {
            Swal.fire({
                title: "Are you sure?",
                text: "you are going to cancel the order",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes",
                cancelButtonText: "No"
            }).then((confirmed) => {
                if (confirmed.value) {
                    $.ajax({
                        url: '/admin/cancelOrder/' + orderId,
                        method: 'get',
                    }).done(res => {
                        Swal.fire({
                            title: "Success",
                            text: res.message,
                            icon: "success"
                        }).then(() => {
                            location.reload();
                        });
                    });
                } else {
                    Swal.fire({
                        title: "Cancelled",
                        text: "Your action has been cancelled",
                        icon: "info"
                    });
                }
            });
        }
    </script>
    <%- include('../partials/adminFooter') %>