<%- include('../partials/adminHeader') %>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                   
                </div>
               
            </div>
            <div class="card mb-4">
               <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="orderTable">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orderDetails.forEach(order => { %>
                                <tr>
                                    <td><%= order._id %></td>
                                    <td><b><%= order.users[0].name %></b></td>
                                    <td><%= order.users[0].email %></td>
                                    <td>$9.00</td>

                                    <td><span class="badge rounded-pill bg-primary alert-warning "><%= order.orderStatus %></span></td>
                                    <td><%= order.orderDate %></td>
                                    <td class="text-end">
                                        <a href="/admin/getOrderDetails/<%= order._id %>" class="btn btn-md rounded font-sm">Detail</a>
                                       <!-- dropdown //end -->
                                    </td>
                                </tr>
                                <% }) %>
                               
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            
        </section> <!-- content-main end// -->
        <%- include('../partials/adminFooter') %>