<!-- <head>
    <link href="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css
    " rel="stylesheet">
</head> -->
<%- include('../partials/adminHeader') %>

    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Users list</h2>

        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <!-- <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div> -->
                </div>
            </header> <!-- card-header end// -->

            <!-- table starts  -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="userTable">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Status</th>
                                <th>Action</th>

                                <th class="text-end"> Details </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach((users,index)=> { %>

                                <tr>
                                    <td>
                                        <%= index+1 %>
                                    </td>
                                    <td width="40%">
                                        <a href="#" class="itemside">
                                            <div class="left">
                                                <img src="assets/imgs/people/avatar1.jpg" class="img-sm img-avatar"
                                                    alt="Userpic">
                                            </div>
                                            <div class="info pl-3">
                                                <h6 class="mb-0 title">
                                                    <%= users.name %>
                                                </h6>
                                            </div>
                                        </a>
                                    </td>
                                    <td>
                                        <div class="info">
                                            <h6 class="mb-0 title">
                                                <%= users.email %>
                                            </h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="info">
                                            <h6 class="mb-0 title">
                                                <%= users.phone %>
                                            </h6>
                                        </div>
                                    </td>
                                    <td>
                                        <% if (!users.blocked) { %>
                                            <span class="badge rounded-pill alert-success">
                                                Active
                                            </span>
                                            <% } else { %>
                                                <span class="badge rounded-pill alert-success">
                                                    Inactive
                                                </span>
                                                <% } %>
                                    </td>
                                    <td class="text-end">
                                        <% if (users.blocked) { %>

                                            <button class="btn btn-warning rounded font-sm mt-15"
                                                id="statusBtn <%= users._id %>" onclick="unblockUser('<%=users._id%>')"
                                                type="button">
                                                Unblock
                                            </button>

                                            <% } else { %>

                                                <button id="statusBtn <%= users._id %>"
                                                    class="btn btn-danger rounded font-sm mt-15"
                                                    onclick="blockUser('<%=users._id%>')" type="button">
                                                    Block
                                                </button>

                                                <% } %>
                                    </td>
                                    <td class="text-end">
                                        <button class="btn btn-brand rounded font-sm mt-15">
                                            view Details
                                        </button>
                                    </td>
                                </tr>
                                <% }) ;%>

                        </tbody>
                    </table>

                    <!-- table-responsive.// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->

    </section> <!-- content-main end// -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script> -->

    <script>
        function blockUser(userId) {
            swal('are you sure you want block this user', {
                title: "Are you sure?",
                text: 'you are about to block this user',
                icon: 'warning',
                buttons: ["Cancel", "Block"]
            }).then((confirmed) => {
                if (confirmed) {
                    $.ajax({
                        url: '/admin/blockUser/' + userId,
                        type: 'get'
                    }).done(res => {
                        swal('successsfull', `${res.message}`, 'success').then(() => {
                            location.reload();
                        })
                    }).fail((err) => {
                        swal('error', `${err.responseJSON.message}`, 'error').then(() => {
                            location.reload()
                        })
                    })
                } else {
                    swal('Canceleld', 'the user was not blocked', 'info')
                }
            })
                .catch((error) => {
                    swal('Error', `An error occured:${error}`, 'error')
                })
        }
        function unblockUser(userId) {
            swal('are you sure you want unblock this user', {
                title: "Are you sure?",
                text: 'you are about to unblock this user',
                icon: 'warning',
                buttons: ["Cancel", "Un-Block"]
            }).then((confirmed) => {
                if (confirmed) {
                    $.ajax({
                        url: '/admin/unblockUser/' + userId,
                        type: 'get'
                    }).done(res => {
                        swal('successsfull', `done`, 'success').then(() => {
                            location.reload();
                        })
                    }).fail((err) => {
                        swal('error', `done`, 'error').then(() => {
                            location.reload()
                        })
                    })
                } else {
                    swal('Canceleld', 'the user was not blocked', 'info')
                }
            })
                .catch((error) => {
                    swal('Error', `An error occured:${error}`, 'error')
                })
        }
    </script>


    <%- include('../partials/adminFooter') %>