<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--===============================================================================================-->
    <title>Home</title>
    <base href="/">
    <link rel="stylesheet" href="/stylesheets/magiczoomplus.css">
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="stylesheets/util.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <!-- <script src="/node_modules/sweetalert/dist/sweetalert.min.js"></script> -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css
    " rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/evara/assets/css/main2.css">
    <script src="/javascripts/magiczoomplus.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> -->
    <style>
        .myOtpPage {
            padding-top: 12vh;
            padding-bottom: 5vh;
        }

        .otpLen {
            width: 50px;
        }
    </style>
    <link href="
https://cdn.jsdelivr.net/npm/cropperjs@1.5.13/dist/cropper.min.css
" rel="stylesheet">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

</head>

<body class="animsition ">

    <% var user %>
        <% var cartCount %>
            <!-- Header -->
            <header style="min-height:50px;">
                <!-- Header desktop -->
                <div class="container-menu-desktop">
                    <div class="wrap-menu-desktop">
                        <nav class="limiter-menu-desktop " style="background-color: #717fe0;    padding: 0 40px;">

                            <!-- Logo desktop -->
                            <a href="/" class="logo text-class" style="text-decoration: none;">
                                <img src="/images/north-star-logo-480A222F2E-seeklogo.com.png" alt="" srcset=""
                                    width="100px">gi
                            </a>

                            <!-- Menu desktop -->
                            <div class="menu-desktop">
                                <ul class="main-menu">
                                    <li class="text-light">
                                        <a href="/">Home</a>
                                        <!-- <ul class="sub-menu text-light">
                                        <li><a href="index.html">Homepage 1</a></li>
                                        <li><a href="home-02.html">Homepage 2</a></li>
                                        <li><a href="home-03.html">Homepage 3</a></li>
                                    </ul> -->
                                    </li>

                                    <li>
                                        <a href="/getShopProducts">Shop</a>
                                    </li>

                                    <li>
                                        <a href="about.html">About</a>
                                    </li>

                                    <li>
                                        <a href="contact.html">Contact</a>
                                    </li>
                                </ul>
                            </div>

                            <!-- Icon header -->

                            <% if (user) { %>
                                <div class="dropdown wrap-icon-header flex-w flex-r-m">
                                    <button class="btn btn-light dropdown-toggle"
                                        style="border-radius: 100px ;background-color: #2e2b23; color: white;"
                                        type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <%= user.name%>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item " href="/userProfile">Account</a>
                                        <a class="dropdown-item" href="/userLogout">Logout</a>
                                    </div>
                                </div>
                                <% } else { %>
                                    <div class="wrap-icon-header flex-w flex-r-m">
                                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                                            <button class="btn  btn btn-outline-light">
                                                <a href="/userLogin" class="text-light ">Login</a>
                                            </button>
                                        </div>
                                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                                            <button class="btn  btn btn-outline-light">
                                                <a href="/userSignUp" class="text-light">SignUp</a>
                                            </button>
                                        </div>
                                        <% } %>


                                            <% if (cartCount !==undefined && cartCount.length> 0){ %>
                                                <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
                                                    data-notify="<%= cartCount[0].totalQty %>" id="cartCount">
                                                    <a href="/getShoppingCart/<%= user._id %>">
                                                        <i class="fa-solid fa-cart-shopping"
                                                            style="color: #ffffff;"></i></i>
                                                    </a>
                                                </div>
                                                <% } else if (user){%>
                                                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11  js-show-cart"
                                                        data-notify="" id="cartCount2">
                                                        <a href="/getShoppingCart/<%= user._id %>">
                                                            <i class="fa-solid fa-cart-shopping"
                                                                style="color: #ffffff;"></i></i>
                                                        </a>
                                                    </div>
                                                    <% } %>
                                                        <a href="/wishlist"
                                                            class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">
                                                            <i class="fa-regular fa-heart"
                                                                style="color: #ffffff;"></i></i>
                                                        </a>
                                                        <% if (user) { %>
                                                            <!-- Button trigger modal -->
                                                            <button type="button" class="btn btn-outline-light"
                                                                data-bs-toggle="modal" data-bs-toggle="tooltip"
                                                                data-bs-placement="bottom" title="wallet"
                                                                data-bs-target="#walletModal">
                                                                <i class="fa-solid fa-wallet"
                                                                    style="color: #ffffff;"></i>
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="walletModal" tabindex="-1"
                                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="exampleModalLabel">Your Wallet</h5>
                                                                            <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <h6 >Your wallet balance is : <span class="rounded-pill bg-success p-2">Rs.<%=userWallet.toLocaleString()%> </span></h6>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Close</button>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% } %>
                                    </div>
                        </nav>
                    </div>
                </div>

                <!-- Header Mobile -->
                <div class="wrap-header-mobile">
                    <!-- Logo moblie -->
                    <div class="logo-mobile">
                        <a href="index.html"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
                    </div>

                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                        </div>

                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"
                            data-notify="2">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>

                        <a href="#"
                            class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti"
                            data-notify="0">
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </a>
                    </div>

                    <!-- Button show menu -->
                    <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </div>
                </div>


                <!-- Menu Mobile -->
                <div class="menu-mobile">

                    <ul class="main-menu-m">
                        <li>
                            <a href="index.html">Home</a>
                            <ul class="sub-menu-m">
                                <li><a href="index.html">Homepage 1</a></li>
                                <li><a href="home-02.html">Homepage 2</a></li>
                                <li><a href="home-03.html">Homepage 3</a></li>
                            </ul>
                            <span class="arrow-main-menu-m">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </span>
                        </li>

                        <li>
                            <a href="product.html">Shop</a>
                        </li>

                        <li>
                            <a href="about.html">About</a>
                        </li>

                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>