<%- include('../partials/userHeader') %>
	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<% bannerList.forEach(banner=> { %>

					<div class="item-slick1" style="background-image: url(/<%=banner.Image%>);">
						<div class="container h-full">
							<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
								<div class="layer-slick1 animated visible-false" data-appear="fadeInDown"
									data-delay="0">
									<span class="ltext-101 cl2 respon2">
										Women Collection 2018
									</span>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="fadeInUp"
									data-delay="800">
									<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
										NEW SEASON
									</h2>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
									<a href="product.html"
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
										Shop Now
									</a>
								</div>
							</div>
						</div>
					</div>

					<% }) %>
			</div>
		</div>
	</section>


	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="images/banner-01.jpg" alt="IMG-BANNER">

						<a href="product.html"
							class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Women
								</span>

								<span class="block1-info stext-102 trans-04">
									Spring 2018
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="images/banner-02.jpg" alt="IMG-BANNER">

						<a href="product.html"
							class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Men
								</span>

								<span class="block1-info stext-102 trans-04">
									Spring 2018
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="images/banner-03.jpg" alt="IMG-BANNER">

						<a href="product.html"
							class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Accessories
								</span>

								<span class="block1-info stext-102 trans-04">
									New Trend
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Product Overview
				</h3>
			</div>

			<!-- //categories wise listing -->

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products
					</button>

					<a href="">
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
							Women
						</button>
					</a>

					<a href="">
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
							Men
						</button>
					</a>

					<!-- <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">
						Bag
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".shoes">
						Shoes
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".watches">
						Watches
					</button> -->
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div
						class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product"
							placeholder="Search" id="searchProduct">
					</div>
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<form action="" id="filter-form">

						<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">

							<!-- SORT -->
							<div class="filter-col1 p-r-15 p-b-27">

								<div class="mtext-102 cl2 p-b-15">
									Sort By
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="sort-by" value="all"
										id="price-all" checked>
									<label class="form-check-label" for="flexRadioDefault1">
										All
									</label>
								</div>

								<div class="form-check">
									<input class="form-check-input" type="radio" name="sort-by" value="low-to-high"
										id="price-low-to-high-sort-by">
									<label class="form-check-label" for="flexRadioDefault1">
										price low to high
									</label>
								</div>

								<div class="form-check">
									<input class="form-check-input" type="radio" name="sort-by" value="high-to-low"
										id="price-high-to-low-sort-by">
									<label class="form-check-label" for="flexRadioDefault2">
										Price: High to Low
									</label>
								</div>


							</div>

							<!-- PRICE -->
							<div class="filter-col2 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Price
								</div>

								<div class="form-check">
									<input class="form-check-input" type="radio" name="price" value="all" id="price-all"
										checked>
									<label class="form-check-label" for="flexRadioDefault1">
										All
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="price" value="0-1000"
										id="price-0-50" data-filter-type="price">
									<label class="form-check-label" for="flexRadioDefault2">
										below Rs.1000
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="price" value="1000-2500"
										id="price-100-150" data-filter-type="price">
									<label class="form-check-label" for="flexRadioDefault2">
										Rs.1000.00 - Rs.2500.00
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="price" value="2500-3000"
										id="price-150-200" data-filter-type="price">
									<label class="form-check-label" for="flexRadioDefault2">
										Rs.2500.00 - Rs.3000.00
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="price" value="3000-4000"
										id="price-200+" data-filter-type="price">
									<label class="form-check-label" for="flexRadioDefault2">
										Rs.3000.00+
									</label>
								</div>
							</div>

							<!-- COLOR -->
							<div class="filter-col3 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Color
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="color" value="white"
										data-filter-value="all" checked>
									<label class="form-check-label" for="flexRadioDefault1">
										All
									</label>
								</div>
								<% console.log(colorList) %>
									<% colorList.forEach(color=> { %>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="color"
												value="<%= color %>" data-filter-value="<%= color %>">
											<label class="form-check-label" for="flexRadioDefault1">
												<%= color %>
											</label>
										</div>
										<% }) %>

							</div>
							<div>
								<button class="btn btn-secondary" type="submit">
									Apply
								</button>
							</div>
						</div>



					</form>
				</div>
			</div>

			<!-- Product Listing-->

			<div class="row isotope-grid" id="productContainer">
				<% productList.forEach(product=> { %>
					<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
						<!-- Block2 -->
						<div class="block2 shadow" style="border-radius: 20px;  ">
							<div class="block2-pic hov-img0" id="img-container"
								style="border-radius: 20px 20px 0px 0px;">
								<a href="/viewProduct/<%= product.slug %>">
									<img src="/<%= product.prodImage[0] %> " width="320" height="400" alt="IMG-PRODUCT">
								</a>
							</div>

							<div style="padding: 8px;">

								<div class="block2-txt flex-w flex-t  ">
									<div class="flex-col-l text-center" style="margin: auto; padding-bottom:10px ;">
										<a href="product-detail.html"
											class="font-weight-bold fs-5 stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											<%= product.prodName %>
										</a>
										<% if (product.realPrice> 0) { %>
											<h6>
												Rs.<%= product.prodPrice.toLocaleString() %>
												<span class="text-decoration-line-through text-danger stext-105  cl3 fs-6">
													Rs.<%= product.realPrice.toLocaleString() %>
												</span>	<span class="text-danger">OFF!..</span>
											</h6>
										<% }else { %>
										<span class="stext-105  cl3 fs-6" style="margin: auto;">
											Rs.<%= product.prodPrice.toLocaleString() %>
										</span>
										<% } %>


									</div>
								</div>

								<!-- STOCK MNGMT -->
								<div class="text-center" style="padding: 10px;">
									<% if (product.prodQuantity <1) { %>
										<p class="text-danger">
											Out of stock
										</p>
										<% } else {%>
											<p class="text-success">
												Only <strong>
													<%= product.prodQuantity %>
												</strong> stocks left
											</p>
											<% } %>
								</div>

								<div class="d-flex justify-content-center">
									<div style="border: none;">

										<% if (product.prodQuantity <1) { %>
											<button
												class=" cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail me-1 font-weight-bold"
												onclick="addToCart('<%= product._id %>')" style="display: none;">
												Add to cart<i class="ms-2 fi-rs-shopping-bag-add"></i>
											</button>
											<% } else { %>
												<button
													class=" cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail me-1 font-weight-bold"
													onclick="addToCart('<%= product._id %>')">
													Add to cart<i class="ms-2 fi-rs-shopping-bag-add"></i>
												</button>
												<% } %>
													<button id="<%= product._id %>"
														onclick="addToWishlist('<%=product._id%>')"
														class=" cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail font-weight-bold ">
														wishlist<i class="fa-sharp fa-regular fa-heart ms-2"></i></i>
													</button>
									</div>
								</div>

							</div>

						</div>
					</div>
					<% }) %>
			</div>
			<!-- Load more
			<div class="flex-c-m flex-w w-full p-t-45">
				<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Load More
				</a>
			</div> -->
		</div>
	</section>

	<script>

		//filteringn the products
		$(document).ready(function () {
			$('#filter-form').submit(function (event) {
				event.preventDefault()

				var sortValue = $('input[name="sort-by"]:checked').val();
				var priceValue = $('input[name="price"]:checked').val();
				var colorValue = $('input[name="color"]:checked').data('filter-value');

				var filterData = {
					sortBy: sortValue,
					priceValue: priceValue,
					colorValue: colorValue
				}

				$.ajax({
					url: '/filterProducts',
					type: 'POST',
					dataType: 'json',
					data: filterData,
					success: function (filteredProducts) {
						updateProductListUI(filteredProducts)
					}
				})
			})
		})

		function updateProductListUI(filteredProducts) {
			var productListContainer = $('#productContainer')
			productListContainer.empty()
			filteredProducts.forEach(product => {
				var productHtml = `
					<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
						<!-- Block2 -->
						<div class="block2 shadow" style="border-radius: 20px;">
						<div class="block2-pic hov-img0" id="img-container" style="border-radius: 20px 20px 0px 0px;">
							<a href="/viewProduct/${product.slug}">
							<img src="/${product.prodImage[0]}" width="320" height="400" alt="IMG-PRODUCT">
							</a>
						</div>

						<div style="padding: 8px;">
							<div class="block2-txt flex-w flex-t">
							<div class="flex-col-l" style="margin: auto; padding-bottom:10px;">
								<a href="product-detail.html" class="font-weight-bold fs-5 stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								${product.prodName}
								</a>
								<span class="stext-105 cl3 fs-6">
								Rs.${product.prodPrice.toLocaleString()}
								</span>
							</div>
							</div>

							<div class="d-flex justify-content-center">
							<div style="border: none;">
								<button class="cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail me-1 font-weight-bold"
								onclick="addToCart('${product._id}')">
								Add to cart<i class="ms-2 fi-rs-shopping-bag-add"></i>
								</button>
								<button class="cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail font-weight-bold">
								wishlist<i class="fa-sharp fa-regular fa-heart ms-2"></i>
								</button>
							</div>
							</div>
						</div>
						</div>
					</div>
					`
				productListContainer.append(productHtml);
			});
		}

		// **** searching products
		$(document).ready(function () {
			$('#searchProduct').keyup(function () {
				var query = $(this).val()
				$.ajax({
					url: '/searchProducts',
					type: 'GET',
					data: { query: query },
					success: function (suggestedProducts) {
						updateProductListUI(suggestedProducts)
					}
				})
			})
		})


		//***add to wishlist***


	</script>

	<%- include('../partials/userFooter') %>