<%- include('../partials/userHeader') %>


    <main class="main">

        <section class="mt-50 mb-50">
            <div class="container" style="min-height: 100vh;">

                <form action="" id="checkout-form">
                    <div class="row">

                        <!-- ADDRESS BODY -->
                        <div class="col-md-6">
                            <!-- address -->
                            <div class="col">
                                <h4 class="ps-4 mt-1 mb-3 dark-bg">Select Address.</h4>
                                <div class="col ">
                                    <div class="card mb-4 mb-lg-1">
                                        <div class="card-header">
                                            <h5 class="mb-0">Billing Address</h5>
                                        </div>
                                        <div class="card-body">

                                            <% userAddress.forEach(userAddress=> { %>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        value="<%= userAddress._id %>" name="address" id="addressId"
                                                        checked>
                                                    <label class="form-check-label" for="address1">
                                                        <address>
                                                            <%= userAddress.firstName %>
                                                                <%= userAddress.lastName %>
                                                                    <br>
                                                                    <%= userAddress.address %>
                                                                        <br>
                                                                        <%= userAddress.city %>,pin: <%=
                                                                                userAddress.pincode %>
                                                                                <br>
                                                                                <%= userAddress.state %>,<%=
                                                                                        userAddress.country %>
                                                                                        <br>
                                                                                        <%= userAddress.mobile %>
                                                        </address>

                                                    </label>
                                                </div>
                                                <% }) %>

                                        </div>
                                    </div>
                                    <div>
                                        <button class="cl0   bg1 bor1 hov-btn1  trans-04  btn-lg" type="button"
                                            data-bs-toggle="modal" data-bs-target="#addAddressModal"> Add Address <i
                                                class="fa-solid fa-circle-plus fa-lg"></i> </button>
                                    </div>
                                </div>
                            </div>

                            <!-- apply coupon -->
                            <div class="mb-30 mt-50">
                                <div class="heading_s1 mb-3">
                                    <h4>Apply Coupon</h4>
                                </div>

                                <!-- select coupon -->
                                <div class="col" style="padding: 20px;">
                                    <div id="accordion" class="card ">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn collapsed text-light btn-secondary"
                                                    data-toggle="collapse" data-target="#collapseTwo"
                                                    aria-expanded="false" aria-controls="collapseTwo">
                                                    Select Coupon
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo"
                                            data-parent="#accordion">



                                            <% for( let i=0; i < allCoupons.length; i++ ) { %>
                                                <div class="card-body">
                                                    <div class="coupon-card">
                                                        <h4>Rs.<%= allCoupons[i].discount %> on
                                                                this order</h4>
                                                        <div class="coupon-row">
                                                            <span id="cpnCode">
                                                                <%= allCoupons[i].code %>
                                                            </span>
                                                            <button class="cpnBtn btn btn-secondary"
                                                                onclick="findCoupon('<%= allCoupons[i]._id %>','<%=allCoupons[i].minimumAmt%>')"
                                                                type="button" style="margin-left: 5px;">Use this
                                                                Code</button>
                                                        </div>
                                                        <p class="text-light">Valid till: <%=
                                                                allCoupons[i].expiryDate.toLocaleDateString() %>
                                                        </p>
                                                    </div>
                                                </div>
                                                <% } %>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>



                        <!-- ORDER DETAILS -->
                        <div class="col-md-6">
                            <div class="order_review">
                                <div class="mb-20">
                                    <h4 class="fs-3">Your Orders.</h4>
                                </div>
                                <div class="table-responsive order_table text-center">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Qty</th>
                                                <th>Total</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% cartProducts.products.forEach(product=> { %>
                                                <tr>
                                                    <td class="image product-thumbnail"><img
                                                            src="/<%= product.productId.prodImage[0] %>" alt="#"
                                                            width="50px" height="50px"></td>
                                                    <td>
                                                        <h5>
                                                            <%= product.productId.prodName %>
                                                        </h5>

                                                    </td>
                                                    <td>
                                                        <span class="product-qty">
                                                            <%= product.quantity %>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        Rs.<%= product.quantity*product.productId.prodPrice %>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                                    <tr>
                                                        <th>Sub Total</th>
                                                        <td></td>
                                                        <td class="product-subtotal text-right" id="subTotal"
                                                            colspan="2">
                                                            <%= totalPrice.toLocaleString() %>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>Coupon Discont</th>
                                                        <td>
                                                            <input type="text" name="couponCode" value=""
                                                                id="couponIdPost" hidden>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="d-none" id="couponRemoveButton"
                                                                onclick="removeCoupon()">
                                                                <i class="fa-solid fa-xmark" style="color: #ff0019;"
                                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                                    title="remove coupon"></i>
                                                            </button>
                                                        </td>
                                                        <td class="product-subtotal text-right" colspan="3"
                                                            id="discount">
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <th>Shipping</th>
                                                        <td></td>
                                                        <td colspan="2" class="text-right"><em>Free Shipping</em>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Total</th>
                                                        <td></td>
                                                        <td colspan="2" class="product-subtotal text-right">
                                                            <span class="font-xl  text-brand fw-900" id="totalSpan">
                                                                <%= totalPrice.toLocaleString() %>
                                                            </span>
                                                        </td>
                                                    </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="payment_method mb-5 
                                " style="padding: 20px;
                               background: rgb(198,198,203);
background: linear-gradient(351deg, rgba(198,198,203,1) 44%, rgba(176,176,184,1) 100%);
                                border-radius: 25px;">
                                    <div class="mb-25">
                                        <h5>Payment</h5>
                                    </div>
                                    <div class="payment_option mb-5 ">
                                        <div class="form-check">
                                            <input class="form-check-input " type="radio" value="ONLINE"
                                                name="paymentType" id="paymentType">
                                            <label class="form-check-label fw-bolder d-flex " id="paymentType"
                                                for="flexRadioDefault1">
                                                Razorpay <img src="/images/razorpay-icon.svg" class="ms-3" width="80px"
                                                    alt="">
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="COD" name="paymentType">
                                            <label class="form-check-label fw-bolder" for="flexRadioDefault2">
                                                Cash on Delivery
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="wallet"
                                                name="paymentType">
                                            <label class="form-check-label fw-bolder" for="flexRadioDefault2">
                                                Wallet
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <button class="cl0   bg1 bor1 hov-btn1  trans-04  btn-lg " type="submit"
                                    style="width:100%;margin-top:50px ;">Proceed to
                                    Checkout</button>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
            </div>
            <!-- ADDRESS MODAL -->

            <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="myForm">
                                <div class="form-group">
                                    <input type="text" name="fname" id="fname" placeholder="First name *">
                                    <span id="fnameErr" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="lname" id="lname" placeholder="Last name *">
                                    <span id="lnameErr" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="address" id="address" placeholder="Address *">
                                    <span id="addErr" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" id="city" placeholder="City / Town *">
                                    <span id="cityErr" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="state" id="state" placeholder="State*">
                                    <span id="stateErr" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="country" id="country" placeholder="country">
                                    <span id="countryErr" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="pincode" id="pincode" placeholder="Postcode / ZIP *">
                                    <span id="pinErr" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="number" name="phone" id="phone" placeholder="Phone *">
                                    <span id="phoneErr" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" id="email" placeholder="Email address *">
                                    <span id="emailErr" class="text-danger"></span>
                                </div>
                                <input type="hidden" name="userId" value="<%= user._id %>">
                                <div>

                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script>
        $('#myForm').submit((e) => {
            e.preventDefault();
            if (validateForm()) {
                $.ajax({
                    url: '/postAddAddress',
                    method: 'post',
                    data: $('#myForm').serialize(),
                    success: (response) => {
                        if (response) {
                            $('#addAddressModal').modal('hide');
                            Swal.fire({
                                title: "Address created",
                                text: "Your form has been submitted successfully.",
                                icon: "success",
                                confirmButton: {
                                    text: "OK",
                                    className: "btn btn-primary"
                                }
                            }).then(() => {
                                location.reload()
                            })
                        }
                    }
                })
            }
        });

        function validateForm() {

            let isValid = true;
            // Validate firstname and lastname
            const fnameValue = $('#fname').val().trim();
            const lnameValue = $('#lname').val().trim();

            if (fnameValue === '' || lnameValue === '') {
                $('#fnameErr').html('Enter first name');
                $('#lnameErr').html('Enter last name');
                isValid = false;
            } else {
                $('#fnameErr').html('');
                $('#lnameErr').html('');
            }

            // Validate address
            const addValue = $('#address').val().trim();
            if (addValue === '') {
                $('#addErr').html('Enter address');
                isValid = false;
            } else {
                $('#addErr').html('');
            }

            // Validate city
            const cityValue = $('#city').val().trim();
            if (cityValue === '') {
                $('#cityErr').html('Enter city');
                isValid = false;
            } else {
                $('#cityErr').html('');
            }

            // Validate state
            const stateValue = $('#state').val().trim();
            if (stateValue === '') {
                $('#stateErr').html('Enter state');
                isValid = false;
            } else {
                $('#stateErr').html('');
            }

            // Validate email
            const emailValue = $('#email').val().trim();
            if (emailValue === '') {
                $('#emailErr').html('Email id is required');
                isValid = false;
            } else if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(emailValue)) {
                $('#emailErr').html('Type a valid email id');
                isValid = false;
            } else {
                $('#emailErr').html('');
            }

            // Validate pincode
            const pinValue = $('#pincode').val().trim();
            if (pinValue === '') {
                $('#pinErr').html('Enter pincode');
                isValid = false;
            } else {
                $('#pinErr').html('');
            }

            // Validate phone
            const phoneValue = $('#phone').val().trim();
            if (phoneValue === '') {
                $('#phoneErr').html('Mobile number is required');
                isValid = false;
            } else if (!/^\d{10}$/.test(phoneValue)) {
                $('#phoneErr').html('Type a valid mobile number');
                isValid = false;
            } else {
                $('#phoneErr').html('');
            }

            return isValid;

        }


        //*****proceed to checkout********//
        $("#checkout-form").submit((e) => {
            e.preventDefault();
            var addressId = $('input[name="address"]:checked').val();
            var totalAmount = $('#totalSpan').text().trim().replace(/[^0-9]/g, ''); // Extract the numeric value from the span text
            var paymentMethod = $('input[name="paymentType"]:checked').val();
            var discountAmt = $('#discount').text().trim().replace(/[^0-9]/g, '')
            var subTotal = $('#subTotal').text().trim().replace(/[^0-9]/g, '')
            var couponId = $('#couponIdPost').val()
            var data = {
                addressId: addressId,
                totalAmount: totalAmount,
                paymentMethod: paymentMethod,
                discountAmt: discountAmt,
                subTotal: subTotal,
                couponId: couponId
            }


            $.ajax({
                url: '/proceedToCheckout',
                method: 'post',
                data: data,
                success: function (response) {
                    Swal.fire({
                        title: "Are you sure you want to place this order?",
                        text: "Once you place the order, it cannot be cancelled.",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Yes, place order",
                        cancelButtonText: "No",
                    }).then((result) => {
                        if (result.value) {
                            if (response.online) {
                                razorpayPayment(response.orders)
                            } else {
                                Swal.fire({
                                    title: `${response.message}`,
                                    buttons: ['OK']
                                }).then(() => {
                                    window.location.href = '/placeOrderFinal?orderId=' + response.orderId;
                                });
                            }
                        } else if (response.error) {
                            Swal.fire({
                                    title: `${response.message}`,
                                    buttons: ['OK']
                                })
                        }
                    });
                }
            });
        });

        function razorpayPayment(order) {
            console.log(order);
            var options = {
                "key": "rzp_test_2rwfLpHauGDdMi", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "NorthStar",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    verifyPayment(response, order)
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };

            var rzpl = new Razorpay(options)
            rzpl.open();
        }

        function verifyPayment(payment, order) {
            $.ajax({
                url: '/verifyPayment',
                data: {
                    payment,
                    order
                },
                method: 'post',
                success: (response) => {
                    if (response.status) {
                        window.location.href = '/placeOrderFinal?orderId=' + response.orderId;
                    }
                }
            })
        }


        //Coupon applying
        // $(document).ready(function () {
        //         $("#couponBtn").on("click", function () {
        //             console.log("clicked");
        //             var coupon = $("#applyCoupon").val();
        //             const data = {
        //                 coupon: coupon
        //             }
        //             $.ajax({
        //                 url: "/applyCoupon",
        //                 method: "post",
        //                 data: data,

        //                 success: function (response) {
        //                     if (response.status) {
        //                         Swal.fire({
        //                             title: "Success",
        //                             text: "Coupon is Redeemed happy Shopping ",
        //                             icon: "success",
        //                             confirmButtonText: "OK",
        //                         }).then((result) => {
        //                             document.getElementById('discount').innerHTML = response.discount
        //                             document.getElementById('totalSpan').innerHTML = response.cart.totalAmount
        //                         })
        //                     } else {
        //                         Swal.fire({
        //                             title: "Failure",
        //                             text: `${response.message}`,
        //                             icon: "Danger",
        //                             confirmButtonText: "OK",
        //                         })
        //                     }
        //                 },
        //             });
        //         });
        //     });

        var initialTotal = $("#totalSpan").text().replace(/[^\d\.]/g, "");
        function findCoupon(couponId, minAmt, userId) {
            console.log(minAmt)
            if (initialTotal < minAmt) {
                Swal.fire({
                    title: `not exceeding${minAmt}`,
                    text: 'coupon cannot be applied',
                    icon: 'error',
                    buttons: ['OK']
                });
                return;
            }

            var removeBtn = $('#couponRemoveButton');
            $.ajax({
                url: `/findAndApplyCoupon?coupon=${couponId}`,
                method: 'get',
                success: function (response) {
                    if (response.used) {
                        Swal.fire({
                            title: 'coupon already used by this user',
                            icon: 'info',
                            buttons: ['OK']
                        });
                        return;
                    }

                    if (response && response.isActive !== 'Active') {
                        Swal.fire({
                            title: 'coupon is not active',
                            icon: 'info',
                            buttons: ['OK']
                        });
                        return;
                    }

                    Swal.fire({
                        title: 'coupon applied successfully',
                        icon: 'success',
                        buttons: ['OK']
                    }).then(() => {
                        if (response) {
                            document.getElementById('discount').innerHTML = '';
                            document.getElementById('discount').innerHTML = response.discount;
                            document.getElementById('couponIdPost').value = response._id; // Set the coupon ID value in the hidden input
                            removeBtn.removeClass('d-none');
                            var totalValue = initialTotal - response.discount; // Calculate the updated total amount
                            document.getElementById('totalSpan').innerHTML = 'Rs.' + totalValue;
                        } else {
                            Swal.fire({
                                title: 'error',
                                icon: 'info',
                                buttons: ['OK']
                            });
                        }
                    });
                }
            });
        }

        // removing coupon
        function removeCoupon() {
            Swal.fire({
                title: "Are you sure you want remove this coupon?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes",
                cancelButtonText: "No",
            }).then((result) => {
                if (result.value) {
                    // Remove the coupon code from the DOM
                    document.getElementById('discount').innerHTML = '';
                    // Hide the remove coupon button
                    var removeBtn = $('#couponRemoveButton');
                    removeBtn.addClass('d-none');
                    // Update the total price
                    document.getElementById('totalSpan').innerHTML = initialTotal;
                    document.getElementById('couponIdPost').value = ''
                }
            });
        }






    </script>

    <%- include('../partials/userFooter') %>