<%- include('../partials/userHeader') %>

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>


	<!-- Shoping Cart -->

	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
				<div class="m-l-25 m-r--38 m-lr-0-xl">
					<div class="wrap-table-shopping-cart">

						<table class="table-shopping-cart">
							<tr class="table_head">
								<th class="column-1">Product</th>
								<th class="column-2 text-center">name</th>
								<th class="column-3">Price</th>
								<th class="column-4">Quantity</th>

								<th class="column-5">Action</th>
							</tr>


							<% cartProduct.products.forEach(product=> { %>
								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="/<%= product.productId.prodImage[0] %>" alt="IMG">
										</div>
									</td>
									<td class="column-2 text-center">
										<%= product.productId.prodName %>
									</td>
									<td class="column-3">
										<%= product.productId.prodPrice %>
									</td>

									<td class="column-4">

										<button class="btn btn-primary"
											onclick="changeQuantity('<%=cartProduct._id  %>','<%= product.productId._id %>','<%=user._id %>',-1)">-</button>
										<span style="margin: 10px;" id="<%=product.productId._id%>">
											<%= product.quantity %>
										</span>
										<button class="btn btn-primary"
											onclick="changeQuantity('<%=cartProduct._id  %>','<%= product.productId._id %>','<%=user._id  %>',1)">+</button>
									</td>
									<!-- total field -->
									<td class="column-6 text-center">
										<button class="btn"
											onclick="deleteProduct('<%=cartProduct._id  %>','<%= product.productId._id %>','<%=user._id  %>')"><i
												class="fa-solid fa-trash-can" style="color: #ff0000;"></i></button>
									</td>

								</tr>
								<% }) %>


						</table>
					</div>
					<!-- COUPON -->
					<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
						<div class="flex-w flex-m m-r-20 m-tb-5">
							<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text"
								name="coupon" placeholder="Coupon Code">

							<div
								class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
								Apply coupon
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- CART TOTAL -->
			<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">

				<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
					<h4 class="mtext-109 cl2 p-b-30">
						Cart Totals
					</h4>

					<div class="flex-w flex-t bor12 p-b-13">
						<div class="size-208">
							<span class="stext-110 cl2">
								Subtotal:
							</span>
						</div>

						<div class="size-209">
							
							<span class="mtext-110 cl2" id="total">
								Rs. <%= totalPrice %>
							</span>
						</div>
					</div>

					<a href="/placeOrder" class="btn btn-success" style="width: 100%;"> Place Order
					</a>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		//btnChangeQty
		function changeQuantity(cartId, prodId, userId, count) {
			let quantity = parseInt(document.getElementById(prodId).innerHTML)
			count = parseInt(count)
			$.ajax({
				url: '/changeQuantity',
				data: {
					cart: cartId,
					product: prodId,
					userId: userId,
					count: count,
					quantity: quantity
				},
				type: 'post',
				success: (response) => {
					if (response.removeProduct ) {
						Swal.fire({
							title: 'Warning',
							text: 'product removed from the cart',
							icon: 'success'
						}).then(() => {
							document.getElementById(prodId).parentNode.parentNode.remove();
						})
					} else if (response.qtyChanged) {
						document.getElementById(prodId).innerHTML = quantity + count
						document.getElementById('total').innerHTML = response.total
					}
				}
			})
		}

		//deleting the cart product
		function deleteProduct(cartId, prodId,userId) {
			let quantity = parseInt(document.getElementById(prodId).innerHTML)
			Swal.fire({
				title: "Are you sure?",
				text: "You are about to delete this product",
				icon: "warning",
				showCancelButton: true,
				confirmButtonText: "Delete",
				cancelButtonText: "Cancel",
			}).then((confirmed) => {
				if (confirmed) {
					$.ajax({
						url: '/deleteCartProduct',
						type: "get",
						data: {
							cartId: cartId,
							prodId: prodId,
							userId:userId
						},
						
						quantity:quantity,
						success: (response) => {
							Swal.fire({
								title: 'Warning',
								text: 'product removed from the cart',
								icon: 'success'
							}).then(() => {
								document.getElementById('total').innerHTML = response.total
								document.getElementById(prodId).parentNode.parentNode.remove();
							})
						}
					})
				} else {
					Swal.fire({
						title: "Cancelled",
						text: "The user was not blocked",
						icon: "info"
					});
				}
			})
		}


	</script>
	<%- include('../partials/userFooter') %>


		<!-- 
		Swal.fire({
		title: "Are you sure?",
		text: "You are about to unblock this user",
		icon: "warning",
		showCancelButton: true,
		confirmButtonText: "Un-Block",
		cancelButtonText: "Cancel",
		}).then((confirmed) => {
		if (confirmed) {
		$.ajax({
		url: '/admin/unblockUser/' + userId,
		type: 'get'
		}).done(res => {
		Swal.fire({
		title: "Success",
		text: res.message,
		icon: "success"
		}).then(() => {
		location.reload();
		});
		});
		} else {
		Swal.fire({
		title: "Cancelled",
		text: "The user was not blocked",
		icon: "info"
		});
		}
		})
		.catch((error) => {
		swal('Error', `An error occured:${error}`, 'error')
		}) -->